---
import Navegation from '@/components/Telco/Navegation.astro'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const news = await getCollection('noticias')
  return news.map(n => ({
    params: { slug: n.slug },
    props: { n }
  }))
}

const { n } = Astro.props
const { data, slug, body } = n
const { title, img } = data
---

<Layout title={`TelCo - ${title}`} href="/telco_logo.png" type="image/png">
  <Navegation />
  <main>
    <img transition:name={`img-${slug}`} loading="lazy" src={img} alt={title} />
    <div>
      <h1>{title}</h1>
      {
        body
          .split('\r\n')
          .filter(linea => linea.trim() !== '')
          .map(linea => <p>{linea}</p>)
      }
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1250px;
    margin: 0 auto;
    gap: 32px;
    padding: 0 32px;
  }

  div {
    padding: 32px;
  }

  img {
    width: 500px;
    object-fit: contain;
    border-radius: 8px;
  }

  h1 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px;
    text-wrap: balance;
  }

  p {
    margin-bottom: 8px;
    text-wrap: pretty;
  }

  @media (width <= 768px) {
    main {
      flex-direction: column;
      gap: 16px;
    }

    div {
      padding: 16px;
    }
  }
</style>
