---
/* @import components */
import Section from '@/components/Section.astro'

/* @import icons */
import PaperClip from '@/icons/PaperClip.astro'

/* @import json */
import { certificates } from '@cv'
---

<Section className="print:hidden" title="Certificados">
  {
    certificates.map(({ name, issuer, institution, url, description }) => {
      return (
        <>
          <h3 class="font-semibold text-md mb-1">{name}</h3>
          <div class="flex justify-between items-center w-full text-xs">
            <span>{issuer}</span>
            <span class="inline-flex justify-center items-center hover:text-gray-600 cursor-pointer print:hidden">
              <PaperClip />
              <a href={`${url}`} target="_blank">
                Ver certificado
              </a>
            </span>
          </div>
          <span class="my-2 text-xs">{institution}</span>
          <p class="text-sm mb-2 text-pretty">{description}</p>
        </>
      )
    })
  }
</Section>
