---
/* @import components */
import Section from '@/components/Section.astro'

/* @import icons */
import World from '@/icons/World.astro'
import Github from '@/icons/Github.astro'
import Email from '@/icons/Email.astro'
import Phone from '@/icons/Phone.astro'

/* @import json */
import { basics } from '@cv'

const { name, label, email, phone, summary, location, github, image } = basics
const { city, region } = location
---

<Section>
  <div
    class="inline-flex max-sm:flex max-sm:items-center max-sm:flex-col-reverse">
    <div class="flex flex-col items-start">
      <h1 class="font-bold text-3xl mb-2">{name}</h1>
      <p class="text-sm text-pretty mb-1">
        <span
          class="font-bold bg-black text-white rounded px-1 print:bg-white print:text-black print:p-0"
          >{label}</span
        >
        {summary}
      </p>
      <span class="hidden text-black text-sm mb-2 print:block">
        {city}, {region}
      </span>
      <span
        class="text-gray-600 text-sm inline-flex justify-center items-center gap-2 mb-2 print:hidden">
        <World />
        {city}, {region}
      </span>
      <div class="print:hidden inline-flex justify-center items-center gap-2">
        <a
          href={`mailto:${email}`}
          title={`Enviar un correo electrónico a ${name} al correo ${email}`}
          target="_blank"
          class="text-white bg-black p-2 rounded">
          <Email />
        </a>
        <a
          href={`tel:${phone}`}
          title={`Llamar por teléfono a ${name} al número ${phone}`}
          target="_blank"
          class="text-white bg-black p-2 rounded">
          <Phone />
        </a>
        <a
          href={`${github}`}
          title={`Gihub de ${name}`}
          target="_blank"
          class="text-white bg-black p-2 rounded">
          <Github />
        </a>
      </div>
      <div
        class="hidden print:visible print:inline-flex print:text-xs print:gap-2">
        <a
          href={`mailto:${email}`}
          title={`Enviar un correo electrónico a ${name} al correo ${email}`}
          target="_blank"
          class="text-black rounded">
          {email}
        </a>
        <a
          href={`tel:${phone}`}
          title={`Llamar por teléfono a ${name} al número ${phone}`}
          target="_blank"
          class="text-black rounded flex-none">
          {phone}
        </a>
        <a
          href={`${github}`}
          title={`Gihub de ${name}`}
          target="_blank"
          class="text-black rounded truncate">
          {github}
        </a>
      </div>
    </div>
    {
      image && (
        <img
          class="w-[125px] h-[125px] max-sm:mb-5 m-4 rounded-xl"
          src={`${image}`}
        />
      )
    }
  </div>
</Section>
